{% extends 'base.html' %}

{% load bootstrap static %}

{% block content %}

  <section class="livros" id="portfolio">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-3 mr-auto">
              Lista de livros
            </div>
                <div class="col-auto">
                  <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#cadastroCategoria" >Add nova Cageroria</button>
                  <button  type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal_cadastro"  >Add novo livro</button>
                </div>
          </div>
        </div>
      </div>
        <table id="tabela_livros" class="table table-hover">
            <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Autor</th>
                  <th scope="col">Editora</th>
                  <th scope="col">Lancamento</th>
                  <th scope="col">Categoria</th>
                  <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="card-footer">
          <nav>
            <ul class="pagination justify-content-end">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>

              <li class="page-item">
                <a class="page-link" href="#">Próxima</a>
              </li>
            </ul>
          </nav>
        </div>
  </section>

{##}
{#<!--  Cadastro-->#}
{#  <div class="modal fade"  tabindex="-1" role="dialog" id="modal_cadastro" >#}
{#    <div class="modal-dialog" role="document">#}
{#      <div class="modal-content">#}
{#          <div class="modal-header">#}
{#            <h3 class="modal-title">Cadastro de livro</h3>#}
{#          <button type="button" class="close" data-dismiss="modal"  aria-label="Fechar">#}
{#            <span aria-hidden="true">&times;</span>#}
{#          </button>#}
{#        </div>#}
{#        <div class="modal-body">#}
{#          <form id="form_livro" method="post" >#}
{#             {% csrf_token %}#}
{#            <input type="hidden" id="id" class="form-control">#}
{#            <div class="row">#}
{#               <div class="col-sm-12">#}
{#                    {{ form.nome|bootstrap }}#}
{#               </div>#}
{#            </div>#}
{#            <div class="row">#}
{#               <div class="col-sm-12">#}
{#                    {{ form.autor|bootstrap }}#}
{#               </div>#}
{#            </div>#}
{#            <div class="row">#}
{#               <div class="col-sm-12">#}
{#                    {{ form.lancamento|bootstrap }}#}
{#               </div>#}
{#            </div>#}
{#            <div class="row">#}
{#                <div class="col-sm-6">#}
{#                    {{ form.editora|bootstrap }}#}
{#                </div>#}
{#                <div class="col-sm-6">#}
{#                    {{ form.categoria|bootstrap }}#}
{#                </div>#}
{#            </div>#}
{#            <div class="row">#}
{#               <div class="col-sm-12">#}
{#                    {{ form.resumo|bootstrap }}#}
{#               </div>#}
{#            </div>#}
{#              <button type="cancel" class="btn btn-secondary" data-dismiss="modal">Fechar</button>#}
{#            <button type="submit" class="btn btn-primary">Salvar</button>#}
{#          </form>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{##}
{#  <!--  Cadastro Categoria-->#}
{#  <div class="modal fade" id="cadastroCategoria"  tabindex="-1" role="dialog"  aria-hidden="true">#}
{#    <div class="modal-dialog" role="document" >#}
{#      <div class="modal-content">#}
{#        <div class="modal-header">#}
{#          <h5 class="modal-title">Cadastro de Categoria</h5>#}
{#          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">#}
{#            <span aria-hidden="true">&times;</span>#}
{#          </button>#}
{#        </div>#}
{#        <div class="modal-body">#}
{#          <form action="" method="post">#}
{#            <div class="form-group">#}
{#              <label for="NomeCategoria" class="col-form-label">Nome da categoria:</label>#}
{#              <input type="text" class="form-control" id="NomeCategoria">#}
{#            </div>#}
{#              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>#}
{#              <button type="button" class="btn btn-primary">Salvar</button>#}
{#          </form>#}
{#        </div>#}
{#        <div class="modal-footer">#}
{#          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>#}
{#          <button type="button" class="btn btn-primary">Salvar</button>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{##}
{#  <!--  Login-->#}
{#  <div class="modal fade" id="login" tabindex="-1" role="dialog"  aria-hidden="true">#}
{#    <div class="modal-dialog" role="document">#}
{#      <div class="modal-content">#}
{#        <div class="modal-header">#}
{#          <h5 class="modal-title">Conectar</h5>#}
{#          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">#}
{#            <span aria-hidden="true">&times;</span>#}
{#          </button>#}
{#        </div>#}
{#        <div class="modal-body">#}
{#          <form>#}
{#            <div class="form-group">#}
{#              <label for="NomeUsuario" class="col-form-label">Nome do usuário:</label>#}
{#              <input type="text" class="form-control" id="NomeUsuario">#}
{#            </div>#}
{#            <div class="form-group">#}
{#              <label for="SenhaUsuario" class="col-form-label">Senha:</label>#}
{#              <input type="text" class="form-control" id="SenhaUsuario">#}
{#            </div>#}
{#          </form>#}
{#        </div>#}
{#        <div class="modal-footer">#}
{#          <button type="cancel" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>#}
{#          <button type="submit" class="btn btn-primary">Conectar</button>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
    {% block js %}

    <script src="{% static 'js/api.js' %}"></script>

    {% endblock %}

{% endblock %}


