{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="BooksFind Project">
        <meta name="author" content="Jadilson Guedes and Gabriel Roque">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

        {% block title %}
            <title> BooksFIND </title>
        {% endblock title %}

        <!-- Bootstrap core CSS -->
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Font-awesome -->
        <link href="{% static 'vendor/fontawesome-free/css/all.css' %}" rel="stylesheet" type="text/css">
        <!-- dataTables -->
        <link href="{% static 'datatables/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/freelancer.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div class="container">
            <div class="row">
                {% include 'components/navbar.html' %}
            </div>

            <!-- Conteudo -->
            {% block content %}

            {% endblock %}

            {% include 'components/footer.html' %}
        </div>

        <!-- datatable -->
        <script src="{% static 'datatables/js/jquery-3.4.0.min.js' %}"></script>
        <script src="{% static 'datatables/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'datatables/js/dataTables.bootstrap4.min.js' %}"></script>
        <!-- Bootstrap core JavaScript -->
        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script type="javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

        {% block jsSetup %}
            <script src="{% static 'js/jsSetupAjax.js' %}"></script>
        {% endblock %}

        {% block js %}

        {% endblock %}
    </body>
</html>